1. Display Fibonacci Series upto 10 terms

In [10]:
fibo = [0,1]
def fibonacci(n):
  for i in range (1,n-1):
    fibo.append(fibo[-1]+fibo[-2])
  print(fibo)

In [11]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

2. Display numbers at the odd indices of a list

In [12]:
numbers =[3,1,6,1943,9362,871,92,251,8,0,34]
for i in range(len(numbers)):
  if(i%2 !=0):
    print(numbers[i])

1
1943
871
251
0

3. Print a list in reverse order

In [19]:
numbers =[3,1,6,1943,9362,871,92,251,8,0,34]
numbers.reverse()
numbers

[34, 0, 8, 251, 92, 871, 9362, 1943, 6, 1, 3]

4. Your task is to count the number of different words in this text

	string = """
	ChatGPT has created this text to provide tips on creating interesting paragraphs.
	First, start with a clear topic sentence that introduces the main idea.
	Then, support the topic sentence with specific details, examples, and evidence.
	Vary the sentence length and structure to keep the reader engaged.
	Finally, end with a strong concluding sentence that summarizes the main points.
	Remember, practice makes perfect!
	"""

In [25]:
string = "ChatGPT has created this text to provide tips on creating interesting paragraphs. First, start with a clear topic sentence that introduces the main idea. Then, support the topic sentence with specific details, examples, and evidence.Vary the sentence length and structure to keep the reader engaged. Finally, end with a strong concluding sentence that summarizes the main points.Remember, practice makes perfect!"

In [26]:
words=string.split(" ")
len(words)

60

5. Write a function that takes a word as an argument and returns the number of vowels in the word

In [32]:
word = "pneumonoultramicroscopicsilicovolcanoconiosis"
count =0
for i in word:
  if i == 'a' or i=='e' or i=='i' or i=='u' or i=='o':
    count=count +1
count

20

6. Iterate through the following list of animals and print each one in all caps.  
`animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']`

In [33]:
animals= ['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for s in animals:
  print(s.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

7. Iterate from 1 to 15, printing whether the number is odd or even

In [40]:
for i in range(1,16):
  if(i%2==0):
    print(i,": even")
  else:
    print(i,": odd")

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even
11 : odd
12 : even
13 : odd
14 : even
15 : odd

8. Take two integers as input from user and return the sum

In [49]:
i,j=input(" Type two numbers ").split(",")
i=int(i)
j=int(j)
print(i+j)

 Type two numbers 2,6
8